<style>
    .centered {
        text-align: center;
        vertical-align: middle;
    }
    
</style>
<table>
    <tr>
        <td class="centered"><a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/homes.png" height="60" width="auto"></a></td>
        <td class="centered" ><a href="{{site.baseurl}}/brain"><img src="{{site.baseurl}}/images/plans.png" height="60" width="auto"></a></td>
        <td class="centered"><a href="{{site.baseurl}}/condiment"><img src="{{site.baseurl}}/images/ketchup.png" height="60" width="auto"></a></td>
        <td class="centered"><a href="{{site.baseurl}}/pair/showcase"><img src="{{site.baseurl}}/images/pastry.png" height="60" width="auto"></a></td>
        <td class="centered"><a href="{{site.baseurl}}/peanut"><img height="60" width="auto" src="{{site.baseurl}}/images/peanut-butter.png"></a></td>
    </tr>
</table>
