<table>
    <tr>
        <td><a href="{{site.baseurl}}/">Unit 1</a></td>
        <td><a href="{{site.baseurl}}/csa/unit2/period3/home/">Unit 2</a></td>
        <td><a href="{{site.baseurl}}/csa/unit3-p1/unit3-1">Unit 3</a></td>
        <td><a href="{{site.baseurl}}/csa/unit4-p1/unit4-1">Unit 4</a></td>
        <td><a href="{{site.baseurl}}/csa/unit5/5">Unit 5</a></td>
        <td><a href="{{site.baseurl}}/csa/unit6">Unit 6</a></td>
        <td><a href="{{site.baseurl}}/csa/unit7-p3/home">Unit 7</a></td>
        <td><a href="{{site.baseurl}}/csa/unit8ya">Unit 8</a></td>
        <td><a href="{{site.baseurl}}/inheritance">Unit 9</a></td>
    </tr>
</table>