<table>
    <tr>
        <td><a href="{{site.baseurl}}/">Unit 1</a></td>
        <td><a href="https://m8tth3.github.io/matthew_blog2025/csa/unit2/period3/home/">Unit 2</a></td>
        <td><a href="https://m8tth3.github.io/matthew_blog2025/csa/unit3-p1/intro">Unit 3</a></td>
        <td><a href="https://m8tth3.github.io/matthew_blog2025/csa/unit4-p1/">Unit 4</a></td>
        <td><a href="https://m8tth3.github.io/matthew_blog2025/csa/unit5/">Unit 5</a></td>
        <td><a href="https://m8tth3.github.io/matthew_blog2025/csa/unit6">Unit 6</a></td>
        <td><a href="https://m8tth3.github.io/matthew_blog2025/csa/unit7-p3/home">Unit 7</a></td>
        <td><a href="https://m8tth3.github.io/matthew_blog2025/csa/unit8yay">Unit 8</a></td>
        <td><a href="https://m8tth3.github.io/matthew_blog2025/inheritance">Unit 9</a></td>
    </tr>
</table>